.chat-box-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 250px;
	overflow-y: auto;
}

.chat-section {
	display: flex;
	flex-direction: column;
}

.chat-form {
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.chat-form input {
	width: 100%;
	padding: 15px;
	border: none;
}

.chat-form input:focus {
	outline: none !important;
}
