.searchInputs {
  display: flex;
}

.userResult {
  position: absolute;
  top: 45px;
  margin-top: 5px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.userResult .userItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.userResult::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); */
	background-color: #F5F5F5;
	border-radius: 10px;
  }

.userResult::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;
}

.userResult::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#611f69),
									   to(#611f69),
									   color-stop(.6,#e01e5a))
}

.userItem {
  padding: 5px;
}

.userItem:hover {
  background-color: lightgrey;
  border-radius: 5px;
}