.navbar-container {
    height: 100vh;
    width: 250px;
    background-color: #501657;
    position: fixed;
}

.channel-section > div{
    display: flex;
}

.channel-list {
    display: flex;
    flex-direction: column;
}