.navbar-container {
    height: 100vh;
    width: 250px;
    background-color: #501657;
    position: fixed;
}

.channel-section > div{
    display: flex;
}

.channel-list {
    display: flex;
    flex-direction: column;
}


.fa-caret-down {
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    transition: all 0.1s;
}

.fa-caret-down.right {
    transform: rotate(-90deg);
}
