.navbar-container {
    height: 100vh;
    width: 250px;
    background-color: #501657;
    position: fixed;
}

.channel-section > div{
    display: flex;
}

.channel-list {
    display: flex;
    flex-direction: column;
}


.fa-caret-down {
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    transition: all 0.1s;
    cursor: pointer;;
}

.fa-caret-down.right {
    transform: rotate(-90deg);
}

.nav-header, .navbar-options {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar-items:hover {
    opacity: 0.9;
    background-color: #340e36;
}